<p>Bookmark Manager</p>

<ul>
<% @bookmarks.each do |bookmark| %>
<li><a href=<%= bookmark[:url] %>> <%= bookmark[:title] %> </a></li>
<% end %>
</ul>


<form action="/add">
  <input type="submit" value="Add">
</form>
